# Ignore vendor directory
/vendor/

# Ignore .env file
.env

# Ignore composer.lock file
composer.lock


# Ignore PHPStrom project files
.idea/

# Ignore PHP log files
*.log

# Ignore cache and session files
/cache/
/sessions/

# Ignore PHPStrom metadata directory
.phpstrom.meta.php/

